@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

body
{
	font-family: 'Montserrat', Arial, sans-serif;
	padding: 20px;
	font-size: 24px;
}

a
{
	text-decoration: none;
}

#container
{
	max-width: 1140px;
	margin: 0 auto;
}

#mainHeader
{
	background-color: #285b2a;
	border-radius: 5px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;

}

#logo
{
	background-color: #022d04;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	color: #fff;
	position: absolute;

}

#burgerIcon
{
	background: url('../images/burger.svg') center no-repeat;
	height: 30px;
	width: 30px;
	border: 1px;
	transition: all 400ms ease;
	margin-left: auto;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 300px;

}

#promoImage
{
	background-color: #af1c27;
	border-radius: 5px;
	height: 400px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

#promoText
{
	background-color: #d2d8d2;
	margin-top: 20px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

#promoText p
{
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 20px;
	line-height: 24px;

}

#iconsCon
{
	margin-top: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 5px;
	height: 400px;
	width: 100%;
	

}


.box
{
	background-color: #ecc33d;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 5px;
	
}


.block
{
	background-color: #a8c735;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 5px;
	height: 200px;
	margin-top: 20px;
}

#mainFooter
{
	background-color: #d2d8d2;
	margin-top: 20px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;

}

@media screen and (min-width: 641px) {
	
	#promoCon
	{
		display: grid;
		flex-direction: row;
		grid-template-columns: 50% 50%;
		grid-gap: 20px;
		
		
	}

	#iconsCon
	{
		display: grid;
		flex-direction: row;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: 5px;
		width: 100%;
		
	}

	#productsCon
	{
		margin-top: 20px;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		width: 100%;
	}

	#promoText p
	{
		margin-left: 40px;
		margin-right: 40px;
	}
}